<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="EmployeeDB"
			 connectionString="Data Source=LAPTOP-B8MV83P4\SQLEXPRESS01;Initial Catalog=db_employee_info;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>